# ~/projects/remote/.gitconfig
# project specific git confs

# gpg
[gpg]
    # use ssh
    format = ssh

# commit
[commit]
    # always sign
    gpgsign = true

# user
[user]
    name = "loofieez"
    # public email for commits
    email = "loofieez@proton.me"
    # signingkey for git commits
    signingkey = "~/.ssh/remote/sign.pub"

# gpg ssh
[gpg "ssh"]
    # allwedSignersFile for signing commits
    allowedSignersFile = "~/.ssh/remote/allowed_signers"
